/* Hide the sidebar by default */
#sidebar-main {
  position: absolute !important;
  right: 0 !important;
  top: 0 !important;
  z-index: 1000 !important;
  pointer-events: auto !important;
  height: 100% !important;
  border-radius: 1em 0 0 1em !important;
  background: inherit !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  border-left: 1px solid rgba(255, 255, 255, 0.3) !important;
  min-width: 2px !important;
  max-width: 2px !important;
  width: 2px !important;
  overflow: hidden !important;
  transition: width 0.3s ease-in-out !important;
  &[sidebarcommand*=sidebar-action]>#sidebar-header {
    display: none !important
  }
}

/* Show sidebar on hover */
#sidebar-main:hover {
  width: 20vw !important;     /* Adjust to preferred width */
  min-width: 20vw !important;
  max-width: 75vw !important;
}
#browser {
  padding: var(--content-padding);
  backdrop-filter: blur(1rem);
  background-color: var(--toolbar-bgcolor) !important
}
#nav-bar {
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  border-radius: 1em 1em 0 0 !important;
}
