/* Hide the sidebar by default */
#sidebar-main {
  position: absolute !important;
  right: 0 !important;
  top: 0 !important;
  z-index: 1000 !important;
  pointer-events: auto !important;
  height: 100% !important;
  border-radius: 1em 0 0 1em !important;
  background: inherit !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  border-left: 1px solid rgba(255, 255, 255, 0.3) !important;
  min-width: 2px !important;
  max-width: 2px !important;
  width: 2px !important;
  overflow: hidden !important;
  transition: width 0.3s ease-in-out !important;
  &[sidebarcommand*=sidebar-action]>#sidebar-header {
    display: none !important
  }
}

.wrapper{
  width: inherit !important;
}

/* Show sidebar on hover */
#sidebar-main:hover {
  width: 20vw !important;     
  min-width: 20vw !important;
  max-width: 75vw !important;
}

#vertical-tabs{
  width: 20vw !important;     
  min-width: 20vw !important;
  max-width: 75vw !important; 
}


#nav-bar {
  border-radius: 1rem 1rem 0 0 !important;
}

body{
  border-radius: 1rem !important;
}

#urlbar,
#urlbar-background,
.urlbar-input-container{
  border-radius: calc(var(--urlbar-container-height) / 2) !important;
  overflow: hidden !important;
  --urlbar-width: 50% !important;
}

#urlbar-container{
  justify-content: center !important;
}

.urlbar-input{
  text-align: center !important;
}

#identity-box{
  display: none !important;
}
